<!-- Start ar projection node -->
<launch>
	<arg name="hide_buttons" default="false"/>

	<group ns="ar">
		<param name="hide_buttons" value="$(arg hide_buttons)" />

		<!-- <node name="ar_window" pkg="tum_ar_window" type="ar_window" output="screen" launch-prefix="gdb -ex run - -args" /> -->
		<node name="ar_window" pkg="tum_ar_window" type="ar_window" output="screen" />
	</group>
</launch>